
table {
  width: 100%;
  border-collapse: collapse;
  color: white;
}

table th {
  color: white;
  font-weight: 600;
  padding: 12px;
  border-bottom: 1px solid #444;
}

table td {
  color: white;
  padding: 12px;
  border-bottom: 1px solid #333;
}.card-title {
  color: white;
}

label{
    color: white;
}

input{
    color: white;
}